.banner {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-origin: border-box;
  background-attachment: fixed;

  &_content {
    max-width: 1200px;
    margin: auto;
    padding: 24px 0;
  }

  &_text {
    font-size: 112px !important;
    color: #f3f4f3 !important;
    font-weight: 600 !important;
    line-height: 1 !important;
  }
  .top {
    position: relative;
    &::after {
      content: '</>';
      position: absolute;
      top: 50%;
      right: 35px;
      font-size: 20px !important;
      color: #161a14;
      padding: 8px;
      background: rgba(243, 244, 243, 0.8);
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
      backdrop-filter: blur(6px);
      border-radius: 4px;
      font-weight: 600;
      transform: translateY(-50%);
    }
  }
  .middle {
    color: #123a7e !important;
    font-weight: 800 !important;
  }
  .end {
    position: relative;
    text-align: right;
    &::after {
      content: '';
      background: url('../../static/images/arrow.svg');
      position: absolute;
      bottom: calc(100% + 52px);
      right: -83px;
      width: 80px;
      height: 257px;
      transform: translateY(50%) rotate(350deg);
      background-repeat: no-repeat;
      background-size: cover;
      transform-origin: 0 100%;
    }
  }
  .extra-text {
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #161a14;
  }
}

.header {
  .section {
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .section:after {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #f3f4f3;
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .section:hover::after,
  .section:focus::after,
  .section:active::after {
    left: 0;
    right: auto;
    width: 100%;
  }
  &-logo {
    max-height: 32px;
    max-width: 247px;
    cursor: pointer;
    @media (max-width: 998px) {
      max-width: 32px !important;
    }
  }
}

.ant-drawer-header {
  border: none !important;
  padding: 16px !important;
}
.ant-drawer-body {
  padding: 0px 24px !important;
}

@media (max-width: 1199.9px) {
  .banner {
    &_content {
      padding: 24px 16px !important;
    }
    &_text {
      font-size: 90px !important;
    }
    .end {
      &::after {
        bottom: calc(100% + 32px) !important;
        right: -55px !important;
        width: 64px !important;
        height: 197px !important;
      }
    }
  }
}

@media (max-width: 998px) {
  .banner {
    &_text {
      font-size: 68px !important;
      text-align: center;
    }
    .top {
      margin-bottom: 12px;
      &::after {
        display: none;
      }
    }
    .middle {
      margin-bottom: 12px;
    }
    .end {
      text-align: center;
      &::after {
        display: none;
      }
    }
  }
  .extra-text {
    font-size: 20px !important;
  }
}

@media (max-width: 767.9px) {
  .title-section {
    font-size: 32px !important;
  }
  .banner {
    &_text {
      font-size: 52px !important;
      text-align: center;
    }
  }
}
