@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap');

body {
  margin: 0 !important;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
}

.title-section {
  font-size: 68px !important;
  line-height: 82px !important;
  font-weight: 700 !important;
}

@media (max-width: 767.9px) {
  .title-section {
    font-size: 32px !important;
  }
}
