@PRIMARY: #55a432;
@SECONDARY: #a08d70;
@WHITE: #ffffff;
@BLACK: #000000;
@PRIMARY20: #473c31;
@PRIMARY60: #a08d70;

@SUCCESS: #3dba4e;
@INFO: #37cdfa;
@WARNING: #fcb017;
@ERROR: #f2323f;

@NEUTRAL05: #f4f4f5;
@NEUTRAL10: #e9e9eb;
@NEUTRAL20: #d3d3d6;
@NEUTRAL40: #a6a7ad;
@NEUTRAL60: #737572;
@NEUTRAL80: #4e4f5c;
@NEUTRAL90: #373947;
@NEUTRAL100: #161a14;

@ACCENT: #1a1311;
@CARD_BG: #2b2523;
@TRANSPARENT: transpanrent;

@LIGHT_SHADOW1: 0px 4px 40px rgba(33, 36, 51, 0.12);
@LIGHT_SHADOW2: 0px 8px 40px rgba(33, 36, 51, 0.18);
@LIGHT_SHADOW3: 0px 12px 40px rgba(33, 36, 51, 0.24);
@LIGHT_SHADOW4: 0px 16px 40px rgba(33, 36, 51, 0.3);

@DARK_SHADOW1: 0px 4px 44px rgba(0, 0, 0, 0.36);
@DARK_SHADOW2: 0px 4px 44px rgba(0, 0, 0, 0.42);
@DARK_SHADOW3: 0px 4px 44px rgba(0, 0, 0, 0.48);
@DARK_SHADOW4: 0px 4px 44px rgba(0, 0, 0, 0.54);

@LIGHT_PRIMARY: #1a1311;
@LIGHT_SECONDARY: #767170;
